@charset "UTF-8";

/*
    topaze = rgb(56,144,130);
    light-grey = rgb(162,162,162);
*/


body{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

#nav{
    position: absolute;
    z-index: 10;
    right: 24px;
    /*top: 40%;*/
    width: 180px;
    text-align: right;
}
#nav .side-menu-item{
    display: block;
    color: rgb(56,144,130);
}
#nav .fa{
    display: inline-block;
    padding: 3px;
    margin: 10px 10px 10px 0px;
}
#nav .side-menu-caption{
    display: inline-block;
    padding: 3px;
    margin: 10px;
    color: rgb(56,144,130);
    -moz-transition: all .02s ease-in-out;
    -webkit-transition: all .02s ease-in-out;
    -o-transition: all .02s ease-in-out;
    transition: all .02s ease-in-out;
}
#nav .side-menu-caption.off{
    color: transparent;
}

#level1{
    background: url('../img/route_old.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#signature{
    position: absolute;
    right: 10%;
    top: 40%;
}#signature h1, #signature h4{
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: rgba(255,255,255,.5);
}
#city{
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    font-weight: lighter;
    color: rgba(255,255,255,.5);
}
.city{
    margin: 30px;
    position: relative;
    left: 5px
}

#level2,#level2 h1{
    background-color: rgb(56,144,130);
}
#level2 nav{
    color: white;
    text-align: center;
}
#level2 h1{
    padding: 10px;
    letter-spacing: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}
#level3{
}
.side-image{
    position: absolute;
    overflow: hidden;
}
.side-image img{
    margin: auto;
}
.side-caption{
    position: absolute;
}
.side-caption .content{
    width: 65%;
    padding-right: 10%;
    margin: auto;
    text-align: justify;
    color: rgb(162,162,162);
}
h2, .content h2{
    margin-bottom: 40px;
    letter-spacing: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(56,144,130);
}
.content p{
    line-height: 180%;
    text-align: justify;
}
#level4{
}
#level4 .banner img{
    width: 100%;
}
#level4 .titre{
    width: 100%;
    position: absolute;
    top: 90px;
    color: white;
    font-size: 20px;
}
#level4 .caption{
    padding: 80px 30px 0 30px;
    margin: auto;
}
#level4 .item-offre{
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(56,144,130);
}

#secondary-logo{
    position: absolute;
    z-index: 99;
    /*width: 840px;*/
    /*height: 840px;*/
    display: none;
}#secondary-logo img{
    padding-left: 45px;
    opacity: .85;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    #secondary-logo img{
        padding-left: 30px;
        max-width: 180px;
        max-height: 180px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    #secondary-logo img{
        padding-left: 25px;
        max-width: 150px;
        max-height: 150px;
    }
}
@media screen and (min-width: 450px) and (max-width: 800px) {
    #secondary-logo img{
        padding-left: 20px;
        max-width: 120px;
        max-height: 120px;
    }
}
@media screen and (max-width: 450px) {
    #secondary-logo img{
        padding-left: 15px;
        max-width: 90px;
        max-height: 90px;
    }
}

#layer-logo{
    position: absolute;
    margin:auto;
}
#logo{
    margin: auto;
    max-width: 100%;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.logo{
    opacity: .6;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.logo-hide{
    opacity: .0;
}
.logo-rotate{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}